# node_modules
node_modules/
.pnpm-store/

# next.js build
.next/
out/

# environment variables & local database
.env
*.db
*.db-journal
prisma/dev.db
prisma/dev.db-journal

# OS & Logs
.DS_Store
*.log
.vercel/
